body {
  height: 3000px;
}

.rectangle {
  background-color: grey;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 320px;
  height: 180px;
}

.close-button {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: black;
  color: white;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 200px;
  border: none;
  cursor: pointer;
}

.timestamp {
  background-color: black;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-family: Arial;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
}