p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.usd-price {
  font-size: 50px;
}

.usd {
  color: rgb(114, 114, 114);
  font-size: 25px;
}

.stats {
  margin-top: 10px;
  font-size: 25px;
  color: green;
}

.price-drop {
  margin-top: 15px;
  font-size: 25px;
  color: rgb(94, 94, 94);
}

.price-drop-text {
  color: rgb(255, 119, 0);
}