


.left-sidebar {
  background-color: rgb(43, 43, 43);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding-top: 20px;
}


.profile-picture {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 35px;
}

.right-sidebar {
  background-color: grey;
  position: fixed;
  left: 100px;
  top: 0;
  bottom: 0;
  width: 200px;
}