.google-image {
  width: 350px;
  display: inline-block;
  margin-bottom: 10px;
}

.search-google {
  border: none;
  width: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 5, 0.5);
  border-radius: 35px;
  font-size: 22px;
  width: 700px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  display: block;
  margin-top: 5px;
  margin: auto
}

.menu {
  text-align: center;
}