.container {
  width: 400px;
  margin-left: 40px;
  margin-top: 40px;
}

.jacket {
  width: 100%;
}

.jacket-container {
  position: relative;
}

.discount {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}