.first-name1 {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  border-radius: 10px;
}

.first-name2 {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  border-radius: 10px;
}

.email {
  margin-top: 15px;
  display: block;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 328px;
  border-radius: 10px;
}

.sign-up-button {
  margin-top: 15px;
  color: white;
  background-color: rgb(7, 126, 231);
  display: block;
  border: none;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 352px;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.sign-up-button:hover {
  opacity: 0.8;
}