p {
  font-family: Arial;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-right: 30px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  background-color: rgb(100, 55, 113);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

input {
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  border-radius: 100px; 
  width: 500px;
}


.download {
  background-color: rgb(100, 55, 113);
  border-style: solid;
  border-color: white;
  color: white;
  border-width: 1px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px;

  transition: background-color 0.15s;
}

.download:hover {
  background-color: rgb(157, 133, 164);
}