p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.email {
  font-size: 20px;
  margin-bottom: 5px;
}

.textbox {
  font-size: 25px;
  width: 500px;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 20px;
}

.privacy-policy {
  font-size: 20px;
  margin-bottom: 20px;
}

.agree-and-join {
  font-size: 25px;
  background-color: rgb(59, 89, 198);
  border: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 180px;
  padding-right: 180px;
  border-radius: 30px;
}